<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <!-- LINK GOOGLE DRIVE USERCONTENT MỚI -->
                    <key>url</key>
                    <string>https://drive.usercontent.google.com/download?id=1BgDozuzvx2Hj-__ckh0ghRhX5MbVMOVv&amp;export=download&amp;authuser=0&amp;confirm=t</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>vn.vng.pubgmobile</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Linhcute</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
