<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <!-- LINK IPA MỚI CỦA BẠN -->
                    <key>url</key>
                    <string>https://dl.dropboxusercontent.com/scl/fi/i6wn0g1ccj1828twtgce1/test.ipa?rlkey=lugzcs5vunc1in119tl1dvfqt&amp;st=4khfcuvq</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>vn.vng.pubgmobile</string> <!-- SỬA BUNDLE ID NẾU CẦN -->
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Test App</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
