<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <!-- LINK IPA MỚI -->
                    <key>url</key>
                    <string>https://dl.dropboxusercontent.com/scl/fi/gbbk4ef3x3enabi1ewdg6/test.ipa?rlkey=569x28isv37d6ob6e3zc3bkl0&amp;st=zeqimx55</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.textasticapp.textastic-universal</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Linhcute</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
